:host {
    margin: 10px
}

.root {
    max-width: 560px;
}

.circular {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #d16d6a;
    text-align: center;
    margin: auto;
}



.head-bullets::after {
    content: "•";
    margin: 10px;
}


.rounded-edges {
    border-radius: 5px;
}

.one {
    background-color: #d16d6a
}

.two {
    background-color: #e6a472;
}

.three {
    background-color: #f8d978;
}

.four {
    background-color: #d2a520;
}

.five {
    background-color: #9dc184;
}


.border {
    border: 2px solid #f3f3f8;
}

