:host {
    margin: 10px
}

.root {
    width: 560px;
}

.circular {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #d16d6a;
    text-align: center;
    margin: auto;
    font-size: 9px;
    padding-top: 3px;
}

.circular span {
    font-size: 9px;
}



.head-bullets::after {
    content: "•";
    margin: 10px;
}


.rounded-edges {
    border-radius: 5px;
}

.one {
    background-color: #d16d6a;
    color: white;
}

.two {
    background-color: #e6a472;
}

.three {
    background-color: #f8d978;
}

.four {
    background-color: #d2a520;
}

.five {
    background-color: #9dc184;
}


.border {
    border: 2px solid #f3f3f8;
}


@media (max-width: 1243px)  {
    :host {
        justify-content: center;
        margin: auto;
        margin-bottom: 10px;
        width: 100%;
    }

    .root {
        width: 560px;
    }
}

@media (max-width: 640px)  {
    :host {
        justify-content: center;
        margin: auto;
        margin-bottom: 10px;
        width: 100%;
    }

    .root {
        width: 360px;
    }
}


.play-button {
    font-size: 60px;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    color: white;
    width: 100px;
    height: 100px;
}

.overlay {
    position: relative;
    cursor: pointer;
}

.chat {
    display: flex;
}


.chat .user {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.message {
    font-size: 15px;
}

.conversation {
    margin: 10px;
    flex-grow: 1;
}

.chat .user span {
    font-size: 20px;
}