
<div class="root space-between border rounded-edges">
    <div>
        <div class="flex space-between margin-5 padding" style="background-color: #f5f5f5;">
            <div>Josh</div>
            <div>
                <span>Male</span>
                <span>36</span>
                <span>Session 1</span>
                <span>11 / 12 / 2021</span>
            </div>
        </div>
        <video class="margin-5" style="width: 100%" controls>
            <source src="https://www.w3schools.com/tags/movie.mp4" type="video/mp4">
        </video>
        <div class="flex space-between padding">
            <div>Show Questions</div>
            <div>Toggle Chat</div>
        </div>
        <div class="flex space-between margin-5 padding">
            <div>
                <div class="circular">5</div>
                <div>Ease of Use</div>
            </div>
            <div>
                <div class="circular">3</div>
                <div>Satisfaction</div>
            </div>
            <div>
                <div class="circular">3</div>
                <div>Usefullness</div>
            </div>
            <div>
                <div class="circular">3</div>
                <div>Preference</div>
            </div>
        </div>
        <div class="margin-5 padding" style="font-weight: bolder;">Why did you choose the answers you gave to the rating questions above ?</div>
        <div class="margin-5 padding">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, placeat commodi nobis eaque natus velit at ea cupiditate provident modi necessitatibus odio veritatis non rem voluptatem distinctio excepturi culpa saepe!
        </div>
        <div class="flex align-left margin-5 padding">
            <div class="margin-10 hash">#Keyword</div>
            <div class="margin-10 hash">#Keyword</div>
            <div class="margin-10 hash">#Keyword</div>
        </div>
        <div class="flex space-between margin-5 padding">
            <button>Android Auto</button>
            <span>vertical button</span>
        </div>
    </div>
</div>