
<div class="root space-between border rounded-edges">
    <div>
        <div class="flex space-between padding" style="background-color: #f5f5f5;">
            <div class="hash">{{item.name}}</div>
            <div>
                <span class="head-text head-bullets">{{item.gender}}</span>
                <span class="head-text head-bullets">{{item.age}}</span>
                <span class="head-text head-bullets">Session: {{item.session}}</span>
                <span class="head-text">{{''}}</span>
            </div>
        </div>
        <img style="width: 100%; height: 200px" src="https://s3-alpha-sig.figma.com/img/c6cc/39e3/ca749f5d7e1b1d2c40e7fabfde97f538?Expires=1666569600&Signature=RYMENv6jOiPxFGwTiYkRwDeAUrjZuzn4dAomauCIqPJRdVJUwH2XPPHXzs2H4HXXUxEOl4MP~TfJ~t2K7zZvtmVYcruQq~GP7QDk-KEI5Jeu0Xj25HAWIeKxCsFTqpjO8p0aK3X-ZqIDv7fNdMBv19TJueWQty4D1tt6Ake4zFygU5-C~~qCWNrZu11WJotyzV5G4LRgjMo4sSEuPqsO0hpaIFH~O4N0qbYbkRvlpG~s2hC~bEsYjtkgV-xiq0Xi4h6jCUsLIMvSzroEfXo~sLS9WNTGrzxtJwHw55KIwMAr1DrOUzSZwArm1-R6ATmutVK5vLk3ivLZZt9DANb~rg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        <video *ngIf="false" class="" style="width: 100%; height: 200px" controls>
            <source src="https://www.w3schools.com/tags/movie.mp4" type="video/mp4">
        </video>
        <div class="flex space-between padding">
            <div class="hash theme-blue">Show Questions</div>
            <!-- <div>Toggle Chat</div> -->
            <!-- <span class="material-symbols-outlined material-symbols-outline">forum</span> -->
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="forum"></mat-icon>
        </div>
        <div class="flex space-between margin-5 padding">
            <div>
                <div class="circular {{getClass(item.easeOfUse)}}">{{item.easeOfUse}}</div>
                <div class="head-text padding">Ease of Use</div>
            </div>
            <div>
                <div class="circular {{getClass(item.satisfaction)}}">{{item.satisfaction}}</div>
                <div class="head-text padding">Satisfaction</div>
            </div>
            <div>
                <div class="circular {{getClass(item.usefullness)}}">{{item.usefullness}}</div>
                <div class="head-text padding">Usefullness</div>
            </div>
            <div>
                <div class="circular {{getClass(item.preference)}}">{{item.preference}}</div>
                <div class="head-text padding">Preference</div>
            </div>
        </div>
        <div class="margin-5 padding" style="font-weight: bolder;">{{item.title}}</div>
        <div class="margin-5 padding">
            {{item.summary}}
        </div>
        <div class="flex align-left margin-5 padding">
            <div *ngFor="let i of item.keywords" class="margin-10 hash theme-blue">#{{i}}</div>
        </div>
        <div class="flex space-between margin-5 padding">
            <button>Android Auto</button>
            <span>vertical button</span>
        </div>
    </div>
</div>