<div style="max-width: 1100px; margin: auto">
  <div>Mostly tap</div>
  <div>Check your voice mail</div>
  <div class="flex space-between">
    <div class="flex">
      <div class="flex">
        <span>Sort By</span>
        <select name="" id="">
          <option value="">Ascending</option>
          <option value="">Descending</option>
        </select>
      </div>
      <div class="flex">
        <span>Users</span>
        <select name="" id="">
          <option value="">Ascending</option>
          <option value="">Descending</option>
        </select>
      </div>
    </div>
    <div>
      <div class="flex">
        <span>More filters</span>
        <select name="" id="">
          <option value="">Ascending</option>
          <option value="">Descending</option>
        </select>
      </div>
    </div>
  </div>
  <div class="flex wrap">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card><app-card></app-card><app-card></app-card>
  </div>
  
</div>