/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Inter';
    font-size: 12px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-left {
    justify-content: left;
}

.padding-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.margin-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-5 {
    margin-left: 2px;
    margin-right: 2px;
}



.padding {
    padding: 10px;
}

.wrap {
    flex-flow: wrap;
    justify-content: center;
}

.theme-blue {
    color: #479eff;
}

.hash {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
html, body { height: 100%; }

.head-text {
    color: #858585;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
